body {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    object-position: center;
    background-image: url(https://i.ibb.co/Cbgn72L/background.jpg);
    background-repeat: no-repeat;
    background-color: lavender;
    background-position: center center;
    
    
    font-size: 30px;
    color: black;
  }
